body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: url(../images/global/bg_black.gif) fixed center;
    height: 100%;
    min-height: 100%;
}
p {
    font-size: 11pt;
    font-family: "Helvetica Neue",sans-serif;
    color: black;
    text-align: justify;    
}
h2 a {
    color: white;
}
#header {
    height: 50px;
    width: 100%;
    background: url(../images/global/texture.png);
    position:fixed;
}
.clearfix {
    overflow: auto;
}
.img {
    float: left;
    margin-right: 10px;
}