body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: url(../images/global/bg_black.gif) fixed center;
    height: 100%;
    min-height: 100%;
}
p {
    font-size: 11pt;
    font-family: "Helvetica Neue",sans-serif;
    color: black;
    text-align: justify;    
}
h2 a {
    color: white;
}
#header {
    height: 50px;
    width: 100%;
    background: url(../images/global/texture.png);
    position:fixed;
}
.clearfix {
    overflow: auto;
}

.faq {
    padding: 20px;
}
.question {
    height: 40px;
    max-height: 40px;    
    width: 100%;
    background-color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
    background: url(../images/global/texture.png);
    align-items: center;
    cursor: pointer;
}
.sectiontitle {
    color:#ffffff;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
.answer {
    display: none;
    padding-left: 40px;
}
.openanswer {
    padding-left: 40px;
}
.img {
    float: left;
    margin-right: 10px;
}